.favorite-icon .dx-icon {
  color: #9e9e9e; /* cinza (não favorito) */
}

.favorite-icon.active .dx-icon {
  color: #e9810b; /* laranja (favorito) */
}

.favorite-icon.active {
  border: 1px solid #000;
  border-radius: 4px;
}

.favorite-icon.inactive {
  border: 1px solid #000;
  border-radius: 4px;
}