<h2>Micro Pokédex</h2>
<dx-button
    *ngIf="!hasImported && !loading"
    text="Importar Pokémons"
    type="success"    
    [disabled]="loading"
    (onClick)="importarPokemons()"
></dx-button>

<dx-data-grid
    *ngIf="hasImported && !loading"
    [dataSource]="pokemons"
    [showBorders]="true"
>
    <dxi-column dataField="name" caption="Nome" width="300"></dxi-column>
    <dxi-column dataField="level" caption="Nível" width="80"></dxi-column>

    <dxi-column
        caption="Aumentar nível"
        type="buttons"
        width="120">
        <dxi-button [template]="'upLevelTemplate'"></dxi-button>
    </dxi-column>

    <div *dxTemplate="let data of 'upLevelTemplate'">
      <dx-button
        icon="add"
        hint="Aumentar nível do pokémon"
        stylingMode="text"
        (onClick)="onUpLevelClick(data)">
      </dx-button>
    </div>

    <dxi-column caption="Favorito" type="buttons">
      <dxi-button
        [template]="'favoriteTemplate'">
      </dxi-button>
    </dxi-column>

  <div *dxTemplate="let data of 'favoriteTemplate'">
    <dx-button
      [icon]="data.data.isFavorite ? 'ratingfilled' : 'ratingoutline'"
      [hint]="data.data.isFavorite ? 'Remover' : 'Favoritar'"
      [elementAttr]="{ class: data.data.isFavorite ? 'btn-favorite-on' : 'btn-favorite-off' }"
      stylingMode="text"
      (onClick)="onFavoriteClick(data)">
    </dx-button>
  </div>
</dx-data-grid>

<div *ngIf="loading">
  Carregando...
</div>