<h2>Favoritos</h2>

<div *ngIf="!hasFavorite && !loading">
  Você não favoritou nenhum pokémon ainda :(
</div>

<dx-data-grid
    *ngIf="hasFavorite && !loading"
    [dataSource]="favorites"
    [showBorders]="true"
>
    <dxi-column dataField="pokemon.name" caption="Nome" width="300"></dxi-column>
    <dxi-column dataField="pokemon.level" caption="Nível" width="80"></dxi-column>

    <dxi-column
        caption="Desfavoritar"
        type="buttons"
        width="120">
        <dxi-button [template]="'unfavoriteTemplate'"></dxi-button>
    </dxi-column>

  <div *dxTemplate="let data of 'unfavoriteTemplate'">
    <dx-button
      icon="trash"
      hint="Remover dos favoritos"
      stylingMode="text"
      (onClick)="onUnfavoriteClick(data)">
    </dx-button>
  </div>
</dx-data-grid>

<div *ngIf="loading">
  Carregando...
</div>